extends layout

block body
  .getdown-top#nav(ng-controller='floatCtrl')
    a.main-nav(href='#main', du-smooth-scroll duration='1100', du-scrollspy='', offset='', ng-click='dude()', collapse = 'floater',ng-hide='clicked')
      h1#neon-tubing wan<span>n</span>a
  .header-unit    
    #video-container
     video.fillWidth(autoplay='', loop='')
      source(src='/videos/dance.mp4', type='video/mp4')
      source(src='/videos/dance.ogg', type='video/ogg')
      source(src='/videos/dance.webm', type='video/webm')
  .navbar.navbar-default#main(role="navigation")
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="http://whitepeopledancing.com/") WPD
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li
          a(href="view1") All
        li
          a(href="view2") Videos
        li
          a(href="view3") MEMEs
        li
          a(href="view4") Pics
  .content
    div(ng-controller='AppCtrl')
      .jumbotron
        h1 White People Dancing
      div(ng-view)
  .container2
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/jquery/jquery-2.0.3.min.js')
  script(src='bootstrap/js/bootstrap.min.js')
  script(src='js/angular-scroll.min.js')