extends layout

block body
  .top-wrapper
    .getdown-top(ng-controller='floatCtrl')
      a.main-nav.blackground(href='#main', du-smooth-scroll duration='1100', du-scrollspy='', offset='', ng-click=' dude()', ng-hide='clicked')
        .neon
          span.on WAN
          span.on.out N
          span.on A
          span.on  DA
          span.on.out NC
          span.on E?          
    .header-unit    
      #video-container
      video.fillWidth(autoplay='', loop='')
        source(src='/videos/dance.mp4', type='video/mp4')
        source(src='/videos/dance.ogg', type='video/ogg')
        source(src='/videos/dance.webm', type='video/webm')
  .navbar.navbar-default#main(role="navigation")
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="http://whitepeopledancing.com/") WPD
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li
          a(href="view1") All
        li
          a(href="view2") Videos
        li
          a(href="view3") MEMEs
        li
          a(href="view4") Pics
        li
          .moder(ng-controller='ModalDemoCtrl')
            script#myModalContent.html(type="text/ng-template")
              <div class="modal-header">
              <h3 class="modal-title">I'm a modal!</h3>
              </div>
              <div class="modal-body">
              <ul>
              <li ng-repeat="item in items">
              <a ng-click="selected.item = item">{{ item }}</a>
              </li>
              </ul>
              Selected: <b>{{ selected.item }}</b>
              </div>
              <div class="modal-footer">
              <button class="btn btn-primary" ng-click="ok()">OK</button>
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              </div>
            button.btn.btn-default(ng-click="open()") Open me!            
            div(ng-show="selected") Selection from a modal: {{ selected }}

  .content
    div(ng-controller='AppCtrl')
      .jumbotron.blackground
        .neon2
          span.on Whi
          span.on.out te
          span.on  peo
          span.on.out ple
          span.on  dan
          span.on.out ci
          span.on ng                
      .contentdisplay(ng-view)
  .container2
  .footy.blackground
    .neon3
      span.on White people dancing      

  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/jquery/jquery-2.0.3.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/angular-scroll.min.js')
  script(src='js/ui-bootstrap-tpls.min.js')