/* app css stylesheet */


.header-unit {
  height: 1100px;
  position: relative;
}
#video-container {
  position: relative;
}
#video-container {
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;
}
video {
  position:absolute;
  z-index:1;
}
video.fillWidth {
  width: 100%;
}

.toptext {
  z-index:0;
  border-radius: 25px;
  border-width: 5px;
  position: relative;
  text-align: center;
}